body {
    background-color: bisque;
    text-align: center;
}

h1 {
    text-align: center;
    text-shadow: .25px .25px;
}

div {
    text-align: center;
}

.nav {
    height: 35px;
    border-style: dashed;
    border-right: hidden;
    border-left: hidden;
}

.navLinks {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    word-spacing: 5px;

}

a:link {color:black; text-decoration: none;}
a:visited {color:black; text-decoration: none;}
a:hover {color:red; text-decoration: none;}

.page1Image {
    border-style:solid;
}
.page2Image {
    border-style:solid;
}
.page3Image {
    border-style:solid;
}

h2 {
    text-decoration: underline;
}
table {
    width: 30%;
    border-style: groove;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 18px;
}

.smaller-text {
    font-size: 12px;
}

#streamList {
    width: 120px;
    margin-left: auto;
    margin-right: auto;

}
#streamList p, #streamList ul {
    text-align: left;
}
